@using NhaList.ExtensionMethods
<!-- angular templating -->
<!-- this is where content will be injected -->
<div ng-view></div>
@section scripts
{
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    
   @* <script src="~/Scripts/Services/ajax.js"></script>
    <script src="~/Scripts/Services/geocoder.js"></script>
    
    <script src="~/Scripts/Controllers/home.js"></script>
    <script src="~/Scripts/Controllers/search.js"></script>*@

    @Html.JsFor("~/bundles/app")
}