<div class="wrapper">
    <div class="container">
        <header>
            <h1>Nhà List <small class="impressive-text"> Thuê nhà thiệt là dễ</small></h1>
        </header>
    </div>
    <div class="push"><!--//--></div>
</div>