<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- local db -->
    <!--
    <add name="NhaListEntities" connectionString="metadata=res://*/Models.NhaListModel.csdl|res://*/Models.NhaListModel.ssdl|res://*/Models.NhaListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=NhaList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbMigration" connectionString="data source=(LocalDb)\v11.0;initial catalog=NhaList;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    -->
    <!-- / local db -->

    <!-- AppHb db -->
    <add name="NhaListEntities" connectionString="metadata=res://*/Models.NhaListModel.csdl|res://*/Models.NhaListModel.ssdl|res://*/Models.NhaListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=e86564e4-3e7e-4cdb-bd86-a2f000e8a827.sqlserver.sequelizer.com;Initial Catalog=dbe86564e43e7e4cdbbd86a2f000e8a827;User ID=hzhicyiaepgjiqvo;Password=CZmhX5MrFTUZcsXKLTmjK4bcLrhH8e8nfgCjpNwtrbVukC8YWNTJzN7GYjDFWerB;&quot;" providerName="System.Data.EntityClient" />
    <add name="DbMigration" connectionString="data source=e86564e4-3e7e-4cdb-bd86-a2f000e8a827.sqlserver.sequelizer.com;initial catalog=dbe86564e43e7e4cdbbd86a2f000e8a827;User ID=hzhicyiaepgjiqvo;Password=CZmhX5MrFTUZcsXKLTmjK4bcLrhH8e8nfgCjpNwtrbVukC8YWNTJzN7GYjDFWerB;" providerName="System.Data.SqlClient"/>
    <!-- / AppHb db -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>