@{
    // Views/Angular/Index.cshtml
    Layout = null;
}
<div class="row">
    <section class="col-md-6">
        <section class="well" ng-controller="searchCtrlr">
            <form role="form" ng-submit="handleSubmit()" >
                <fieldset>
                    <legend>Tìm Nhà Cho Thuê</legend>
                    <div class="form-group" >
                        <label>Tên Thành Phố hoặc Mã Vùng (Zip Code):</label>
                        <input type="text" autocomplete="off"  class="form-control" placeholder="Ví dụ: Fallschurch, hoặc 22046" ng-model="nearBy" />
                    </div>
                        
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-search-plus"></i>
                        Tìm Ngay
                    </button>
                </fieldset>
            </form>
        </section>
        <section class="well">
            <h5>Thông Tin & Quảng Cáo</h5>
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p><strong>Chưa Xong!</strong> Xin Đừng Sử Dụng.</p>
            </div>
        </section>
    </section>
    @* Right Section Starts *@
    <section class="col-md-6">
        <div class="well">
            <form role="form" ng-controller="postCtrlr" novalidate ng-submit="handleSubmit()">
                <fieldset>
                    <legend>Cho Thuê Nhà</legend>
                    <div class="form-group" >
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-error text-danger': validating && !phone}">
                                <label>Số Điện Thoại:</label>
                                <input type="tel" autocomplete="off" ng-model="phone"  class="form-control" placeholder="Ví dụ: 7037777777" />
                            </div>
                            <div  class="col-md-6" ng-class="{'has-error text-danger': validating && !email}">
                                <label>hoặc Email:</label>
                                <input type="email" autocomplete="off" ng-model="email" class="form-control" placeholder="Ví dụ: nguyenngocng@yahoo.com" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error text-danger': validating && !nearBy}">
                        <label>Tên Thành Phố hoặc Mã Vùng (Zip Code):</label>
                        <input type="text" autocomplete="off" ng-model="nearBy" ng-blur="updateAddress()" class="form-control" placeholder="Ví dụ: Fallschurch, hoặc 22046" />
                        <span class="text-success" ng-show="validating && !noGeoResults">{{ formattedAddress }}</span>
                        <span class="text-danger" ng-show="validating && noGeoResults">Không tìm thấy thành phố này trên bản đồ.</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error text-danger': validating && !text}">
                        <label>Lời Giới Thiệu:</label>
                        <textarea rows="6" class="form-control" ng-model="text" placeholder="Ví dụ: Nhà ở gần Eden, có chỗ parking rộng rãi. Điện thoại xin gặp anh Ngân." ng-model="nearBy"></textarea>
                    </div>
                    <div class="form-group" >
                        <button class="btn btn-yellow" type="submit" ng-hide="posting || posted">
                            <i class="fa fa-arrow-up"></i>
                            Đăng Lên Mạng
                        </button>
                        <span ng-show="posting" class="alert alert-info">
                            <i class="fa fa-spinner fa-spin fa-2x" ></i>
                            Xin cảm ơn đã đăng tin.
                        </span>
                        <span ng-show="posted" class="alert alert-success">
                            <i class="fa fa-thumbs-o-up fa-2x"></i>
                            Xin cảm ơn đã đăng tin.
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </section> 
</div>