@{
    Layout = null;
}
<div class="well well-sm" >
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Thành Phố / Zip Code" ng-model="nearBy" />
            <button class="btn btn-success btn-sm" type="submit">
                <i class="fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</div>