@{
    Layout = null;
}
<div class="well well-sm" >
    <form class="form-inline" role="form" ng-submit="handleSubmit()">
        <div class="form-group" ng-class="{'has-error': noResults}">
            <input type="text" class="form-control" placeholder="Thành Phố / Zip Code" ng-model="nearBy" />
            <button class="btn btn-sm" ng-disabled="searching" 
                ng-class="{'btn-success':!noResults,'btn-danger':noResults}"
                
                    type="submit">
                <span ng-hide="searching">
                    <i class="fa fa-search"></i>
                    Tìm
                </span>
                <span ng-show="searching">
                    <i class="fa fa-spinner fa-spin"></i>
                    Đang Tìm
                </span>
            </button>
            <span class="text-danger" ng-show="!searching && noResults">Không tìm được</span>
        </div>
    </form>
</div>