@{
    Layout = null;
}
<div class="well well-sm" >
    <form class="form-inline" role="form" ng-submit="handleSubmit()">
        <div class="form-group" ng-class="{'has-error': noResults}">
            <input type="text" autocomplete="off"  class="form-control" placeholder="Thành Phố / Zip Code" ng-model="nearBy" />
            <button class="btn" ng-disabled="searching" 
                    ng-class="{'btn-success':!noResults,'btn-danger':noResults}"
                    type="submit">
                <span ng-hide="searching">
                    <i class="fa fa-search"></i>
                    Tìm
                </span>
                <span ng-show="searching">
                    <i class="fa fa-spinner fa-spin"></i>
                    Đang Tìm
                </span>
            </button>
            <span ng-show="nearBy && !searching">
                <span class="text-danger" ng-show="noResults" >Không tìm được</span>
                <span class="text-info" ng-hide="noResults" >Tìm được</span>
            </span>
        </div>
    </form>
</div>
