@using NhaList.ExtensionMethods
<!DOCTYPE html>
<html lang="en" xml:lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>Nhà List | Tìm và cho thuê nhà</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Tìm và cho thuê nhà thiệt là dễ">
        <meta name="author" content="WhenYouBelieve2014@gmail.com">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
        @Html.CssFor("~/Content/site.min.css")
    </head>
    <body>
        <header class="row">
            <div class="col-xs-12">
                <div class="container">
                    <a href="/" class="white-link">
                        <h1 >Nhà List <i class="fa fa-home"></i><small class="thin-font hidden-inline-xs hidden-inline-sm" style="color: khaki"><i class="fa fa-home"></i><small><i class="fa fa-home"></i></small> Thuê nhà thiệt là dễ</small>
                            <small class="thin-font hidden-md hidden-lg" style="color: khaki">
                                Thuê nhà thiệt là dễ
                            </small>
                        </h1>
                    </a>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="container">
                @RenderBody()
            </div>
            <div class="push"><!--//--></div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2014 — 
                    <a href="mailto:WhenYouBelieve2014@gmail.com?Subject=Nhà List" >WhenYouBelieve2014@gmail.com</a>
                </p>
            </div>
        </footer>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-loader.js"></script>
        @RenderSection("scripts", false)
    </body>
</html>