@using NhaList.ExtensionMethods
<!DOCTYPE html>
<html lang="en" xml:lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>Nhà List | Tìm và cho thuê nhà</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tìm và cho thuê nhà thiệt là dễ">
        <meta name="author" content="WhenYouBelieve2014@gmail.com">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
        @Html.CssFor("~/Content/site.css")
    </head>
    <body>
        <header>
            <div class="container">
                <h1 >Nhà List <span class="fa fa-home"></span><small class="thin-font"><span class="fa fa-home"></span> Thuê nhà thiệt là dễ</small></h1>
            </div>
        </header>
        <div class="wrapper">
            <div class="container">
                @RenderBody()
            </div>
            <div class="push"><!--//--></div>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2014 — 
                    <a href="mailto:WhenYouBelieve2014@gmail.com?Subject=Nhà List" >WhenYouBelieve2014@gmail.com</a>
                </p>
            </div>
        </footer>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-loader.js"></script>
        @RenderSection("scripts", false)
    </body>
</html>